<!-- ESEMÉNYEK ADATAIT TARTALMAZÓ TÁBLÁZAT -->
<div class="container" id="eventTable">
<table class="table table-bordered" id="tbl_events">
  <thead>
    <tr class="adminpage-tableheader bg-light">
      <th scope="col">#</th>
      <th scope="col" class="col-2">Esemény neve</th>
      <th scope="col" class="col-2">Időpont</th>
      <th scope="col" class="col-3">Helyszín</th>
      <th scope="col" class="col-1">Max. létszám</th>
      <th scope="col" class="col-1">Jk. száma</th>
      <th scope="col" class="col-1">Korhatár</th>
      <th scope="col" class="col-1">Szerkesztés</th>
    </tr>
  </thead>
  <tbody class="text-white ">
    <% for (var i = 0; i < eventArray.length; i++) { %> 
      <tr style="height: 30px;">
        <th style="height: 30px;" scope="row"><%= i+1 %></th>
        <td><%= eventArray[i].name %></td>
        <td><%= (new Date(eventArray[i].date)).toLocaleString('hu-HU', { dateStyle: 'short', timeStyle: 'short' }) %></td></td>
        <td><%= eventArray[i].city %>, <%= eventArray[i].street %> <%= eventArray[i].house_number %>.</td>
        <td><%= eventArray[i].capacity %></td>
        <td><%= eventArray[i].applied %></td>
        <td><%= eventArray[i].agelimit %></td>
        <td>
          <div class="d-flex align-items-center">
            <form method="POST" action="/modify" class="me-2">
              <input type="hidden" name="eventId" value="<%= i %>">
              <button type="submit" class="btn bg-transparent btn-sm">
                <i class="bi bi-pencil-square p-2 text-white"></i>
              </button>
            </form>
          
            <form method="POST" action="/eventdelete">
              <input type="hidden" name="id" value="<%= eventArray[i].id %>">
              <button type="submit" class="btn bg-transparent btn-sm" onclick="return confirm('Biztosan törölni szeretnéd a <%= eventArray[i].name %> nevű eseményt az adatbázisból?')">
                <i class="bi bi-trash3-fill p-2 text-danger"></i>
              </button>
            </form>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
</div>

<!-- FELHASZNÁLÓK ADATAIT TARTALMAZÓ TÁBLÁZAT -->
<div id="usersTable" class="container"  style="display: none;">
  <table class="table table-bordered" id="tbl_users">
    <thead>
      <tr class="adminpage-tableheader bg-light">
        <th scope="col" class="col-1">#</th>
        <th scope="col" class="col-2">Név</th>
        <th scope="col" class="col-2">Email cím</th>
        <th scope="col" class="col-1">Állampolgárság</th>
        <th scope="col" class="col-1">Nem</th>
        <th scope="col" class="col-1">Születési idő</th>
        <th scope="col" class="col-1">Életkor</th>
        <th scope="col" class="col-1">Jogosultság</th>
        <th scope="col" class="col-1">Törlés</th>
      </tr>
    </thead>
    <tbody class="text-white">
      <% for (var i = 0; i < usersArray.length; i++) { %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td class="text-uppercase"><%= usersArray[i].name %></td>
          <td><%= usersArray[i].email %></td>
          <td><%= usersArray[i].nationality %></td>
          <td><%= usersArray[i].gender %></td>
          <td><%= (new Date(usersArray[i].birthdate)).toLocaleString('hu-HU', { dateStyle: 'short' }) %></td>
          <td>  <% const birthDate = new Date(usersArray[i].birthdate); %>
            <%= (new Date().getFullYear() - birthDate.getFullYear()) %> éves</td>
          <td><%= usersArray[i].permission %></td>
          <td>
            <form method="POST" action="/deleteuser">
              <input type="hidden" name="id" value="<%= usersArray[i].id %>">
              <button type="submit" class="btn bg-transparent btn-sm" onclick="return confirm('Biztosan törölni szeretnéd a <%= usersArray[i].name %> nevű felhasználót?')">
                <i class="bi bi-person-x p-2 text-danger"></i>
              </button>
            </form>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
