<div class="container">
  <div class="text-center">
  <div class="row">
    <div class="col col-sm-12 col-md-3">
      <div class="container col-3font-weight-bold fs-6 text-start m-4 user_datapage">
        <% if (isAdmin=="admin") { %><img src="/public/pictures/profile_admin.png"  class="img-fluid m-lg-3 " height="100%" width="100%"><% } %>
        <% if (isAdmin=="user" && gender=="Férfi") { %><img src="/public/pictures/profile_male.png"  class="img-fluid m-lg-3 "><% } %>
        <% if (isAdmin=="user" && gender=="Nő") { %><img src="/public/pictures/profile_female.png"  class="img-fluid m-lg-3 "><% } %>
        <% if (isAdmin=="user" && gender=="Nem adom meg") { %><img src="/public/pictures/profile_gender_neutral.png"  class="img-fluid m-lg-3"><% } %>
        <div class="mt-2">Név: <span class=" mt-2"><%= name %></span></div>
        <div class="mt-2">E-mail: <span id="email"><%= email %></span></div>
        <div class="mt-2">Állampolgárság: <span><%= citizenship %></span></div>
        <div class="mt-2">Születési idő: <span><%= birthday %></span></div>
        <div class="mt-2">Nem:<span><%= gender %></span class="p-3"></div>
          <label class="btn btn-info mt-3 w-100" for="modal-toggle">Jelszó módosítása</label>
          <% if (isAdmin=="user") { %>
            <form method="POST" action="/deleteAccount">
              <input type="hidden" name="id" value="<%= id %>">
              <button type="submit" class="btn btn-danger mt-3 w-100" onclick="return confirm('Biztosan törölni szeretné a GO EVENT! profilját?')">
                Fiók törlése
              </button>
              </form>
          <% } %>
          <% if (isAdmin=="admin") { %>
            <button class="btn btn-light mt-3 w-100"><a class="text-dark" href="/adminpage">Adminisztráció</a></button>
            <% } %>
      </div>
    </div>
    <div class="col col-sm-12 col-md-1"></div>
    <div class="mt-5 col col-sm-12 col-md-8">
      <h3 class="text-start text-uppercase">Eseményeim</h3>
     
        <table class="table table-striped text-white text-start">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col text-uppercase">Esemény neve</th>
              <th scope="col text-uppercase">Helyszín</th>
              <th scope="col text-uppercase">Dátum</th>
              <th scope="col text-uppercase">Lemondás</th>
            </tr>
          </thead>
          <% for (var i = 0; i < appliedEvents.length; i++) { %>
          <tbody>
            <tr class="align-middle">
              <th scope="row" class="text-white"><%= i+1 %></th>
              <td class="text-white"><%= appliedEvents[i].name %></td>
              <td class="text-white"><%= appliedEvents[i].city %>, <%= appliedEvents[i].street %> <%= appliedEvents[i].house_number %>.</td>
              <td class="text-white"><%= appliedEvents[i].formatted_date %></td>
              <td class="text-white">
                <form  method="POST" action="/cancelApplication">
                  <input type="hidden" name="locationId" value="<%= appliedEvents[i].loc_id %>;<%= appliedEvents[i].id %>">
                  <button type="submit" id="cancelButton" class="btn btn-danger btn-sm" > <i class="bi bi-x-circle d-flex align-items-center"><span class="p-1">Lemondom</span></i></button>
                </form>
              </td>
            </tr>
          </tbody>
          <% } %>

        </table>

    </div>

</div>


