<!DOCTYPE html>
<html lang="hu">
<head>
   <%- include('../partials/head')  %> 
   <title><%- title %></title>
</head>
<body>
    <header>
        <%- include('../partials/header')  %>
    </header>
    <% if (isAdmin=="admin") { %> 
    <main id="main">
        <section class="sub-page-strip">
          <div class="container">
    
            <div class="d-flex justify-content-between align-items-center">
              <h2>Adminisztráció</h2>
              <%- include('../partials/admin_menu')  %>


              <ol>
                <li><a href="/">Home</a></li>
                <li>Adminisztrációs felület</li>
  
              </ol>
            </div>
    
          </div>
        </section>
        <form method="POST" action="/modifyevent">
          <input type="hidden" name="id" value="<%= eventArray[i].id %>">
          <label for="name">Név:</label>
          <input type="text" id="name" name="name" value="<%= eventArray[i].name %>">
        
          <label for="date">Dátum:</label>
          <input type="text" id="date" name="date" value="<%= eventArray[i].date %>">
        
          <label for="city">Város:</label>
          <input type="text" id="city" name="city" value="<%= eventArray[i].city %>">
        
          <label for="street">Utca:</label>
          <input type="text" id="street" name="street" value="<%= eventArray[i].street %>">
        
          <label for="house_number">Házszám:</label>
          <input type="text" id="house_number" name="house_number" value="<%= eventArray[i].house_number %>">
        
          <label for="capacity">Kapacitás:</label>
          <input type="text" id="capacity" name="capacity" value="<%= eventArray[i].capacity %>">
        
          <label for="applied">Jelentkezettek száma:</label>
          <input type="text" id="applied" name="applied" value="<%= eventArray[i].applied %>">
        
          <label for="agelimit">Korhatár:</label>
          <input type="text" id="agelimit" name="agelimit" value="<%= eventArray[i].agelimit %>">
        
          <button type="submit">Mentés</button>
        </form>
      </main>
        <% } %> 

        <% if (isAdmin=="user") { %><div><%- include('../partials/access_denied')  %></div><% } %>
    <footer>
        <%- include('../partials/footer')  %>
    </footer>
    <script src="/public/js/main.js"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
</body>
</html>