<!DOCTYPE html>
<html lang="hu">
<head>
   <%- include('../partials/head')  %>
   <title><%= title %></title>

</head>
<body>
    <header>
        <%- include('../partials/header')  %>
    </header>


  <!--<<<<<<< START: Welcome Screen >>>>>>> -->
  <section id="welcome-screen" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-out-down" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">

          <h1>Jelentkezz <span>eseményünkre!</span></h1>
          <div class="countdown d-flex justify-content-left col-12" data-count="2023/07/19">

              <div class="countdown-block"><h3>%d</h3><h4>Nap</h4></div>
              <div class="countdown-block"><h3>%h</h3><h4>Óra</h4></div>
              <div class="countdown-block"><h3>%m</h3><h4>Perc</h4></div>
              <div class="countdown-block"><h3>%s</h3><h4>MP</h4></div>

          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=PhO6VmhqODE" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>
  </section>
<!--<<<<<<< END: Welcome Screen >>>>>>> -->
  <main id="main">
    <!--<<<<<<< START: Description >>>>>>> -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="/public/pictures/about.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3 class="text-dark">Mi is a GO EVENT! app?</h3>
            <p class="text-dark">
              Számos megrendezésre kerülő esemény van ,mely ingyenes, azonban előzetes regisztrációhoz kötött. Az oldalunk lehetőséget ad előzetes regisztrációra, egy kényelmes, komfortos felületen keresztül. Egyszerűen csak regisztrálni kell az oldalra, és a kívánt eseményre jelentkezni.
            </p>
            <ul>
              <li class="text-dark"><i class="bi bi-check-circle text-dark"></i> Ingyenes.</li>
              <li class="text-dark"><i class="bi bi-check-circle text-dark"></i> Letisztult, mobilon is használható.</li>
              <li class="text-dark"><i class="bi bi-check-circle text-dark"></i> Környezetbarát.</li>
            </ul>
          </div>
        </div>

      </div>
    </section>
    <!--<<<<<<< END: Description >>>>>>> -->

    <!--<<<<<<< START: Actually events >>>>>>> -->
    <section id="actually" class="actually">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Inspirálódj eseményeink közül</h2>
          <p>Aktuális programok</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item"><a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">PROGRAM #1</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-2">PROGRAM #2</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-3">PROGRAM #3</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-4">PROGRAM #4</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-5">PROGRAM #5</a></li>
            </ul>
          </div>


          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">

              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Program #1</h3>
                    <i class="bi bi-calendar2-week event-icons">2022.10.10 19:00</i><br>
                    <i class="bi bi-pin-map event-icons">Budapest, Üllői út 100.</i>
                    <p class="event-description">Programleírás, esemény taglalása</p>
                    <button type="button" class="btn btn-outline-goevent">Jelentkezem!</button>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/public/pictures/actually_events/event_1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>


              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Program #2</h3>
                    <i class="bi bi-calendar2-week event-icons">2022.10.10 19:00</i><br>
                    <i class="bi bi-pin-map event-icons">Budapest, Üllői út 100.</i>
                    <p class="event-description">Programleírás, esemény taglalása</p>
                    <button type="button" class="btn btn-outline-goevent">Jelentkezem!</button>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/public/pictures/actually_events/event_2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>


              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Program #3</h3>
                    <i class="bi bi-calendar2-week event-icons">2022.10.10 19:00</i><br>
                    <i class="bi bi-pin-map event-icons">Budapest, Üllői út 100.</i>
                    <p class="event-description">Programleírás, esemény taglalása</p>
                    <button type="button" class="btn btn-outline-goevent">Jelentkezem!</button>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/public/pictures/actually_events/event_2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>




              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Program #4</h3>
                    <i class="bi bi-calendar2-week event-icons">2022.10.10 19:00</i><br>
                    <i class="bi bi-pin-map event-icons">Budapest, Üllői út 100.</i>
                    <p class="event-description">Programleírás, esemény taglalása</p>
                    <button type="button" class="btn btn-outline-goevent">Jelentkezem!</button>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/public/pictures/actually_events/event_4.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>


              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Program #5</h3>
                    <i class="bi bi-calendar2-week event-icons">2022.10.10 19:00</i><br>
                    <i class="bi bi-pin-map event-icons">Budapest, Üllői út 100.</i>
                    <p class="event-description">Programleírás, esemény taglalása</p>
                    <button type="button" class="btn btn-outline-goevent">Jelentkezem!</button>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/public/pictures/actually_events/event_5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--<<<<<<< END: Actually events >>>>>>> -->

   <!--<<<<<<< START: Media contents >>>>>>> -->
    <section id="media" class="media">

      <div class="container" data-aos="zoom-out-down">
        <div class="section-title">
          <h2>Lesd meg képeken, milyen hangulat van az eseményen</h2>
          <p>Galéria</p>
        </div>
      </div>

      <div class="container-fluid" data-aos="zoom-out-down" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="media-item">
              <a href="/public/pictures/media/img_1.jpg" class="media-lightbox" data-gall="media-item">
                <img src="/public/pictures/media/img_1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="media-item">
              <a href="/public/pictures/media/img_2.jpg" class="media-lightbox" data-gall="media-item">
                <img src="/public/pictures/media/img_2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="media-item">
              <a href="/public/pictures/media/img_3.jpg" class="media-lightbox" data-gall="media-item">
                <img src="/public/pictures/media/img_3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="media-item">
              <a href="/public/pictures/media/img_4.jpg" class="media-lightbox" data-gall="media-item">
                <img src="/public/pictures/media/img_4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="media-item">
              <a href="/public/pictures/media/img_5.jpg" class="media-lightbox" data-gall="media-item">
                <img src="/public/pictures/media/img_5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="media-item">
              <a href="/public/pictures/media/img_6.jpg" class="media-lightbox" data-gall="media-item">
                <img src="/public/pictures/media/img_6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="media-item">
              <a href="/public/pictures/media/img_7.jpg" class="media-lightbox" data-gall="media-item">
                <img src="/public/pictures/media/img_7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="media-item">
              <a href="/public/pictures/media/img_8.jpg" class="media-lightbox" data-gall="media-item">
                <img src="/public/pictures/media/img_8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!--<<<<<<< END: Media contents >>>>>>> -->

    

    <!--<<<<<<< START: Google map >>>>>>> -->
    <section id="map" class="map">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Helyszín</p>
        </div>
      </div>

      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2697.1434241560164!2d19.074599215479967!3d47.467634479175686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dd1baca87ab9%3A0x446dd6a1bee0c423!2sBudapest%20Park!5e0!3m2!1shu!2shu!4v1665391622987!5m2!1shu!2shu" frameborder="0" allowfullscreen></iframe>
      </div>
    </section>
    <!--<<<<<<< END: Google map >>>>>>> -->


    <!--<<<<<<< START: Contact & Form >>>>>>> -->
    <section id="contact" class="contact">
      <div class="container" data-aos="flip-up">
        <div class="container aos-init aos-animate" data-aos="flip-up">

          <div class="section-title">
            <h2>Kérdésed van? Vedd fel velünk a kapcsolatot!</h2>
            <p>Kapcsolat</p>
          </div>
        </div>
        <div class="row mt-5">

          <div class="col-lg-8 mt-5 mt-lg-0">
            <form action="/" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="senddername" class="form-control" id="name" placeholder="Neve" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="sendderemail" id="email" placeholder="E-mail címe" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Üzenet tárgya" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="8" placeholder="Üzenet" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Köszönjük,hogy elküldte üzenetét!, amint tudunk válaszolunk!</div>
              </div>
              <div class="text-left"><button type="submit" onclick="sendForm()">Küldés</button></div>
            </form>
          </div>
          <div class="col-lg-4">
            <div class="info">
                <h3>GO EVENT! </h3>
                <p>
                  9022<br>
                  GYŐR<br>
                  Szent István út 1.<br><br>
                  <strong>Telefonszám:</strong> +36 1 511 511 <br>
                  <strong>E-mail:</strong> goeventhungary@gmail.com<br>
                </p>
                <div class="social-links mt-3">
                  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="#" class="google-play"><i class="bi bi-google-play"></i></a>
                  <a href="#" class="apple-store"><i class="bi bi-apple"></i></a>
                </div>
              </div>

            </div>
        </div>
      </div>
    </section>


    <!-- login -->
    <%- include('../partials/login_signup')  %>

<!-- End login -->
    <!--<<<<<<< END: Contact & Form >>>>>>> -->

  </main><!-- End #main -->

  <!--<<<<<<< START: Footer >>>>>>> -->
<footer>
    <%- include('../partials/footer')  %>
</footer>
  <!--<<<<<<< END: Contact & Form >>>>>>> -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-square-fill text-light"></i></a>



  <!--<<<<<<< START: Script files >>>>>>> -->
  <script src="/public/aos/aos.js"></script>
  <script src="/public/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/glightbox/js/glightbox.min.js"></script>
  <script src="/public/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/public/swiper/swiper-bundle.min.js"></script>
  <script src="/public/js/main.js"></script>
  <script src="/public/js/countdown.js"></script>
  <script src="/public/js/translate.js"></script>

</body>

</html>