<!DOCTYPE html>
<html lang="hu">
<head>
   <%- include('../partials/head')  %> 
   <title>Felhasználói adatok</title>
</head>
<body>
    <header>
        <%- include('../partials/header')  %>
    </header>

    <main id="main">
        <section class="sub-page-strip">
          <div class="container">
    
            <div class="d-flex justify-content-between align-items-center">
              <h2>Felhasználói adatok</h2>
              <ol>
                <li><a href="/">Home</a></li>
                <li>Fiók</li>
              </ol>
            </div>
    
          </div>
        </section>
          <%- include('../partials/user_datafields')  %>
          <%- include('../partials/user_new_password')  %>

        </main>
    <footer>
        <%- include('../partials/footer')  %>
    </footer>
    <script src="/public/js/main.js"></script>
</html>